<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kardex</title>
</head>
<body>
    <header>
        <div>
            <img src="../imagenes/sep.gif" alt="">
        </div>
        <div>
            <p>Sistema Integral de Información</p>
            <p>Instituto Tecnológico de Tepíc</p>
            <p>Portal de alumnos</p>
        </div>
        <div>
            <img src="../imagenes/dgest.png" alt="">
        </div>
    </header>
    <main>
        @!section('content')
    </main>
    

</body>
</html>